.custom-select .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
    width: 40px; /* Set width to fit the flag */
    display: flex;
    align-items: center;
  }
  
  .custom-select .ant-select-arrow {
    display: none !important;
  }
  
  .custom-select .ant-select-selection-item {
    display: flex;
    align-items: center;
  }
  
  .custom-select .ant-select-selection-item img {
    width: 20px;
  }
  